/* components/Pages/Tokens.css */
.tokens-container {
    padding: 1vw;
    padding-top: 1vw; /* Добавляем отступ для навигационной панели */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  .tokens-list {
    display: grid;
    flex-wrap: column;
    
    gap: 1vw;
    width: 100%;
  }
  
  .loading, .error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 1.2rem;
    color: #aaa;
  }
  
  .error {
    color: #ff5555;
  }
  