#root {
  width: 100vw;      /* 100% ширины viewport */
  max-width: 1200px;  /* Максимальная ширина равна ширине viewport */
  margin: 0 auto;         /* Убираем все внешние отступы */
  padding: 0;        /* Убираем все внутренние отступы */
  text-align: center;  /* Меняем выравнивание текста на левое или как вам нужно */
  overflow-x: hidden; /* Предотвращаем горизонтальный скролл */
  box-sizing: border-box; /* Учитываем padding в общей ширине */
  position: relative; /* Важно для правильного позиционирования дочерних элементов */
  font-family: var(--font-family-base);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  font-size: var(--font-size-md);
}

.read-the-docs {
  color: #888;
  font-size: var(--font-size-sm);
}

main {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
}